<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="fragments/header :: header">
    <title>spring-bppt | admin-lte3</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
</div>
<div id="wrapper">
    <!-- Topbar header - style you can find in pages.scss -->
    <div th:replace="fragments/navigation :: navigation"></div>
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- Page wrapper  -->
    <div class="content-wrapper" id="mainContent">
        <div layout:fragment="content"></div>
    </div>
    <!--    footer-->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
</body>

</html>